@font-face {
    font-family: Playfair;
    src: url('Fonts/PlayfairDisplay-Variable.ttf');
    font-weight: normal;
}
@font-face {
  font-family: AbrilFat;
  src: url('Fonts/AbrilFatface-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Tektur;
  src: url('Fonts/Tektur-VariableFont_wdth\,wght.ttf');
  font-weight: normal;
}
html, body {
    margin:0;
    padding:0;
    }
body{
    width: 100%;
    height: 100%;
    background-image: url('Images/background.png');
    background-size: 100px;
    background-repeat: repeat;
}
.imgcit{
  width: 45%;
  height: 45%;
}
.accroche{
  color: white;
  text-align: justify;
  font-family: Arial;
  width: 300px;
  padding: 20px 20px;
  background-image: url('Images/neon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid grey;
  border-radius: 10px;
}
.divaccroche{
  display: flex;
  width: 100%;
  justify-content: center;
}
.divcit{
  display: flex;
  justify-content: center;
  background-image: url('Images/costume.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.txtcit, .txtcit2{
  text-align: center;
  color: white;
}
.txtcit{
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  background: #00000063;
  padding: 10px 10%;
}
.txtcit2{
  margin-top: 0px;
}
.titrecom{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.Imgcommu, .Imgage{
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.goal{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  border-radius: 10px;
}
.logosFin{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}
.divfoot{
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.txtfoot{
  color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}
.txtfoot, .logofoot{
  display: inline;
}
.footdivs{
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
/* Boutons */
.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#d02718;
  font-weight:bold;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
  border-bottom-left-radius:18px;
  border-bottom-right-radius:18px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  text-shadow: 0px 1px 0px #810e05;
  background:linear-gradient(#c62d1f, #ac150a);
  flex: 1;
  align-content: center;
  align-self: center;
  margin-bottom: 10%;
  padding: 10px 10px;
}

.buttonClass:hover {
  background: linear-gradient(#f24437, #c62d1f);
}

.titre{
    text-align: center;
    font-family: AbrilFat;
    color: white;
}

@keyframes opac{
    from{opacity:0}
    to{opacity:1}
 }
  
 .animate-opacity{
    -webkit-animation:opac 4.4s;
    animation:opac 4.4s infinite;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
 }
.divmenu{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Tektur', cursive;
    display: flex;
    flex: 2;
    flex-direction: column;
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 4mm ridge rgba(0, 0, 0, 0.9);
    /* background-color: rgba(223, 219, 219, 0.8);
    border: 4mm ridge rgb(218, 216, 253); */
}
.menu:hover{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.836);
}
a{
    text-decoration: none;
    color: black;
}

/*Caroussel*/
.contener_slideshow{
  width:400px;
  height:400px;
  overflow: hidden;
  position: relative;
  background-image: url('Images/commu.jpg');
}
.slid_1, .slid_2{
  position: absolute;
  width:400px;
  height:400px;
}
#slid1, #slid2{
  width: 400px;
  height: 400px;
}
.slid_1{left: 0;}
.slid_2{left: 400px;}
.contener_slide
{
  width: 400px;
  height: 400px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-400px;}
  80% {left:-400px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-400px;}
  80% {left:-400px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-400px;}
  80% {left:-400px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-400px;}
  80% {left:-400px;}
}

/* Media queries mobile et tablette */
/* Mobiles */
@media (min-width: 200px) and (max-width: 480px) {

  body{
      width: 100%;
      height: 100%;
      background-size: 100px;
      background-repeat: repeat;
  }    
  h1{
      font-size: 30px;
      }
  h2{
      font-size: 20px;
  }
  .divmenu{
      width: 70%;
  }
  .txtcit{
    padding: 10px 10px;
  }
  .divcit{
    margin: 0px 0px;
  }
  .goal{
    padding: 0px 10%;
    width: auto;
  }
  .txtfoot{
    font-size: 14px;
    }
  /*Caroussel*/
  .contener_slideshow, .slid_1, .slid_2, .contener_slide{
    width: 300px;
    height: 300px;
  }
  .slid_1{left: 0;}
  .slid_2{left: 300px;}
  #slid1, #slid2{
    width: 300px;
    height: 300px;
  }
  @-webkit-keyframes anim_slide 
  {
    0% {left:0px;}
    20% {left:0px;}
    40% {left:-300px;}
    80% {left:-300px;}
  }
  @-moz-keyframes anim_slide 
  {
    0% {left:0px;}
    20% {left:0px;}
    40% {left:-300px;}
    80% {left:-300px;}
  }
  @-ms-keyframes anim_slide 
  {
    0% {left:0px;}
    20% {left:0px;}
    40% {left:-300px;}
    80% {left:-300px;}
  }
  @keyframes anim_slide 
  {
    0% {left:0px;}
    20% {left:0px;}
    40% {left:-300px;}
    80% {left:-300px;}
  }
}

@media (min-width: 481px) and (max-width: 768px) {

body{
        width: 100%;
        height: 100%;
        background-size: 100px;
        background-repeat: repeat;
} 
h1{
        font-size: 30px;
  }
h2{
        font-size: 20px;
  }
.divmenu{
    width: 50%;
}
.divcit{
  margin: 10px 0px;
}
.txtcit{
  padding: 10px 10px;
}
.goal{
  padding: 0px 10%;
  width: auto;
}
.txtfoot{
  font-size: 14px;
  }
/*Caroussel*/
.contener_slideshow, .slid_1, .slid_2, .contener_slide{
  width: 300px;
  height: 300px;
}
.slid_1{left: 0;}
.slid_2{left: 300px;}
#slid1, #slid2{
  width: 300px;
  height: 300px;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-300px;}
  80% {left:-300px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-300px;}
  80% {left:-300px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-300px;}
  80% {left:-300px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  20% {left:0px;}
  40% {left:-300px;}
  80% {left:-300px;}
}
}

@media (min-width: 769px) and (max-width: 1024px) {

    body{
        width: 100%;
        height: 100%;
        background-size: 100px;
        background-repeat: repeat;
    } 
    
    .divmenu{
        width: 50%;
    }  
    .divcit{
      margin: 10px 15%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    body{
        width: 100%;
        height: 100%;
        background-size: 100px;
        background-repeat: repeat;
    } 
    .titre1{
        margin-bottom: 10px;
        font-size: 45px;
    }
    .divmenu{
        width: 50%;
    } 
    .divcit{
      margin: 10px 15%;
    }
    .accroche{
      width: 500px;
    }
}

@media (min-width: 1201px) {
.divmenu{
    width: 25%;
}
.titre1{
    margin-bottom: 10px;
    font-size: 45px;
}
.divcit{
  margin: 10px 25%;
}
.accroche{
  width: 500px;
}
}
/* Caroussel */

.pic-ctn {
    height: 200px;
  }
  .carr{
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
