@font-face {
    font-family: Playfair;
    src: url('Fonts/PlayfairDisplay-Variable.ttf');
    font-weight: normal;
}
@font-face {
  font-family: AbrilFat;
  src: url('Fonts/AbrilFatface-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Tektur;
  src: url('Fonts/Tektur-VariableFont_wdth\,wght.ttf');
  font-weight: normal;
}
html, body {
    margin:0;
    padding:0;
    }
body{
    width: 100%;
    height: 100%;
    background-image: url('Images/backgroundlivres.png');

}
a{
  text-decoration: none;
  color: black;
  width: 25%;
  display: block;
  margin: auto;
}
.retour{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.divLivres{
  width: 500px;
  margin: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  /*Fond*/
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(75, 80, 155, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.titreLivres{
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.titreLivres, .cit, .desc{
  color: white;
}
.cit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
}
.desc{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: justify;
}
.Imglivresleft{
  float: left;
}
.Imglivresright{
  float: right;
}
.divLivresleft{
  float: left;
}
.divLivresright{
  float: right;
}
.txttravaux{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.divsoon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 10px 10px;
}
.logofoot{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}


/* Media queries mobile et tablette */
/* Mobiles */
@media (min-width: 200px) and (max-width: 480px) {
  .divLivres{
    width: 300px;
    margin: 10px;
  }
  .divsoon{
    padding: 10px 0px;
  }
  .logofoot{
    padding-left: 10px;
  }
  .txttravaux{
    padding-right: 10px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .divLivres{
    width: 300px;
    margin: 10px;
  }
  .divsoon{
    padding: 10px 0px;
  }
  .logofoot{
    padding-left: 10px;
  }
  .txttravaux{
    padding-right: 10px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1200px) {
    
}

@media (min-width: 1201px) {

}
