@font-face {
    font-family: LilitaOne;
    src: url('Fonts/LilitaOne-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: AbrilFat;
    src: url('Fonts/AbrilFatface-Regular.ttf');
    font-weight: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url('Inconsolata-VariableFont_wdth,wght.ttf');
	font-weight: normal;
}

html, body {
    margin:0;
    padding:0;
    }
body{
    width: 100%;
    height: 100%;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0 40%;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: rgb(183, 19, 19) 0px 20px 30px -10px;
    border: 1px solid whitesmoke;
    background: linear-gradient(#fe1a00, #ce0100);
    color: whitesmoke;

}
.premDiv{
    width: 100%;
    padding-top: 0px;
}
.titre{
    text-align: center;
    font-family: Inconsolata;
    
}
.titre1{
    margin: auto;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(183, 19, 19, 0.8);
    padding: 20px;
}
.divmenu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.divliens{
    display: flex;
    justify-content: center;
}
.liensRS{
    margin: 0px;
    justify-content: center;
    display: flex;
}

hr{
    size: 1px;
    border: none;
    margin: 0px;
    color: black;
}

.Logos{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke
}
.Logos:hover{
    transform:scale(1.1);
}
.divCentre{
	background-color: #170602;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%238b280e' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

a{
    text-decoration: none;
    color: black;
    width: 12%;
    display: block;
    margin: auto;
}
.retour{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
/*Boutons*/
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:#d83526;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    text-shadow:inset 0px 1px 0px #b23e35;
    background:linear-gradient(#fe1a00, #ce0100);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonClass:hover {
    background: linear-gradient(#ce0100, #fe1a00);
  }
/* Media queries mobile et tablette */
/* Mobiles */
@media (min-width: 200px) and (max-width: 480px) {
h1{
    font-size: 30px;
    }
h2{
    font-size: 20px;
}
h3{
    margin: 0 30%;
}
.titre{
    font-size: 24px;
}
a{
    width: 30%;
}
.Logos{
    margin-bottom: 10px;
}
.divmenu{
    width: 100%;
}
.premDiv{
height: 100px;
}
.divliens{
    display: flex;
    justify-content: space-evenly;
}
.divmenu1{
    margin-top: 20px;
}
}

@media (min-width: 481px) and (max-width: 768px) {

h1{
        font-size: 30px;
  }
h2{
        font-size: 20px;
  }
    h3{
    margin: 0 30%;
    }
    .titre{
    font-size: 24px;
    }
    a{
    width: 30%;
    }
    .Logos{
    margin-bottom: 10px;
    }
    .divmenu{
    width: 100%;
    }
    .premDiv{
    height: 100px;
    }
    .divliens{
        display: flex;
        justify-content: space-evenly;
    }
    .divmenu1{
        margin-top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .divmenu{
        width: 100%;
    }  
    .premDiv{
        height: 150px;
        }
    .divliens{
            display: flex;
            justify-content: space-evenly;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .divmenu{
        width: 100%;
    } 
    .premDiv{
        height: 150px;
        }
}

@media (min-width: 1201px) {
.divmenu{
    width: 100%;
}
.premDiv{
	height: 100px;
    }
}

